$spacing_micro: 3px;
$spacing_tiny: 6px;
$spacing_small: 12px;
$spacing_base: 24px;
$spacing_large: 48px;
$spacing_huge: 96px;

$bw0: #353535;
$bw3: #999999;
$bw5: #ffffff;
$mobile_boundary: 480px;
// $gray_back: #edeef5;
$gray_front: #f9fafe;
$gray_back: #f9fafe;
